.authentication form{
    border: 1px solid #ABABAB;
    padding: 50px;
    border-radius: 10px;
    width: 570px;
    margin: auto;
}
.authentication form h6, p {
    padding: 0 10px;
}
.authentication form input{
    display: block;
    margin: 10px;
    width: 100%;
    padding: 3px 0;
    border:none;
    color: #000;
    border-bottom: 1.7px solid #C5C5C5;
    outline: yellow;
}
.authentication form input[type=checkbox]{
    height: 12px ;
    width: 12px;
    display: inline;
}
.authentication form input::placeholder{
    color: #000;
}
.authentication form input:focus{
    border:none;
    border-bottom:  2px solid #F9A51A;
    color: #000;
}
.authentication form input[type="submit"]{
    background-color: #F9A51A;
    color:#000;
    padding: 5px 0;
    font-weight: 500;
    border: none;
    margin-top: 30px;
}
.socil-container{
    /* border: 1px solid #ABABAB; */
    padding: 0 50px;
    border-radius: 10px;
    width: 570px;
    margin: auto;
    cursor: pointer;
}
.socil-container div{
    border: 1px solid #ABABAB;
    border-radius: 70px;
    margin: 10px auto;
    display: flex;
}
.socil-container div p{
    text-align: center;
    margin: auto;
    font-size: 1rem;
    font-weight: 500;
}
.forgot-password{
    float: right;
    cursor: pointer;
    text-decoration: underline;
}
/* .socil-container::before{
    content: "Or";
    margin: 50%;
    transform: translateX(-50%);
}
.socil-container::after{
    content: "_____________ ";
    background-color: red;
    left: 0;
    height: 5px;
    width: 50px;
} */
.slocil-after{
    position: relative;
    text-align: center;
    font-weight: 500;
    margin: 20px auto;
}
.slocil-after::before{
    position: absolute;
    content: " ";
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    background-color: #ABABAB;
    height: 1px;
    width: 40%;
}
.slocil-after::after{
    position: absolute;
    content: " ";
    top: 50%;
    transform: translateY(50%);
    right:30px;
    background-color:#ABABAB;
    height: 1px;
    width: 40%;
}
.warning{
    color: rgb(255, 217, 0);
}
.sucess{
    color: green;
}

/* ========================================== */

@media only screen and (min-width:200px) and (max-width:768px) {
    .authentication form{
        width: 400px;
    }
    .socil-container{
        border-radius: 10px;
        width: 390px;
    }
    .socil-container div p{
        font-size: .9rem;
        font-weight: 600;
    }
    .socil-container div img{
        height: 30px;
    }
    .slocil-after::before{
        left: 0px;
    }
    .slocil-after::after{
        right:0px;
    }
    
}
@media only screen and (min-width:200px) and (max-width:576px) {
    .authentication form{
        width: 70%;
    }
    .authentication form h6{
        font-weight: 580;
    }
    .socil-container{
        margin: auto;
    }
    .socil-container div{
        width: 300px;
    }
    .authentication form input{
        font-size: 14px;
    }
    .form-navigation{
        font-size: 12px;
    }
    .remember-me{
        font-size: 14px;
    }
    .forgot-password{
        font-size: 14px;
    }
    .forgot-p{
        font-size: 14px;
    }
    .socil-container{
        width: 300px;
        margin: auto;
    }
    .socil-container div{
        width: 200px;
    }
    .socil-container div p{
        font-size: .8rem;
        font-weight: 600;
    }
    .socil-container div img{
        height: 25px;
    }
    
    
}